body{
background-image:url("/home/feuji/Downloads/pad.jpeg");
background-size:cover;
background-position:fixed;
}
.position{
margin:auto;
width:1200px;
}
ul li{
height:4%;
display:inline-block;
margin-left:4%;
margin-top:1%;
}
li a{
text-decoration:none;
}
.article{
float:left;
width:100%;
height:40%;
margin-right:35%;

font-size:130%;
}
.ceo{
width:45%;
margin-top:-65%;
float:right;
}
.one{

width:50%;
font-size:120%;
}
.two{
background-color:red;
}
.middle{
float:left;
width:30%;
margin-right:50%;
margin-top:12%;
}
.bottom{
width:40%;
height:15%;
float:left;
margin-left:10%;
margin-top:3%;
}
.last{
float:right;
}

.no{

width:50%;

}
.r{
background-color:pink;
width:48%;
height:62%;
margin-top:-46%;
float:right;
border: 4px solid green;
}
.k{
width:100%;
}
.sort{
width:70%;
margin-left:10%;
}
.lefts{
float:right;
margin-right:15%;

}
